.social-icons {
 padding:12px 0;
 text-align: center;
}
.social-icons a:not(:last-of-type) {
 margin-inline-end:12px
}
.social-icons a svg {
 height:31px;
 width:31px;
}
/* vertical bar */
#header ::before {
background-color: #e83e8c;
color: #e83e8c;
}
/* horiz bar */
#header .content {
border-color: #e83e8c;
}
/* circle */
#header .logo {
border: solid 1px #fff;
}
/* menu */
#header nav ul {
border: solid 1px #fff;
}

/* h2.major {
font-size: 1.75em;
} */

/* spacing of page list */
#header nav ul li a {
line-height: 1.3;
padding: 1.25rem;
}
/* spacing, just deleted `height` and copied the rest. */
/* correct spacing in mobile */
@media screen and (max-width: 480px) {
#header nav ul li a {
	display: block;
	min-width: 7.5rem;
	line-height: 2.75rem;
	padding: 0 1.25rem 0 1.45rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 0.8rem;
	border-bottom: 0;
}
}

/* button */
a.markdown-btn {
  font-size: inherit;
  font-family: inherit;
  color: #fff;
  /*background-color: var(--md-bg-color-dark);*/
  background-color: #e83e8c;
  border-radius: $border-radius;
  text-align: center;
  padding: .5rem 1rem .5rem 1rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 100%;
  display: block;
  margin: 1rem;
  text-transform: uppercase;

  &:hover,
  &:active {
    text-decoration: none;
    background-color: #000;
    color: #e83e8c;
  }
}

/* markdown-embedded image block */
img {
  width: 100%;
  text-align: center;
  margin: 1rem auto 1rem auto;
  display: block;
}

/*************************************************
 *  Sharing
 **************************************************/

.share-box {
  float: right;
}

ul.share {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.share li {
  display: inline-flex;
  margin-right: 5px;
}

ul.share li:last-of-type {
  margin-right: 0;
}

ul.share li i {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  transition: all 150ms ease-in-out;
  color: #fff;
}

.dark ul.share li i {
  color: rgb(68, 71, 90);
}

ul.share li a {
  background-color: #b5c6ce;
  display: block;
  border-radius: 50%;
  text-decoration: none !important;
  margin: 0;
}

ul.share li:hover i {
  transform: scale(1.4)
}

/* poker */
.poker-label {
  margin: 0.5rem 0 0 0.25rem;
}
