/* logo center */
.icon img {
  transform: translateY(-2px);
}
/* below seems to be fixed by changing img class*/
/*@media screen and (max-width: 737px) {
    .icon img {
      transform: translateY(-6px);
    }
}*/



.social-icons {
 text-align: center;
 margin: 1rem 0 1rem 0;
}
.social-icons a:not(:last-of-type) {
 margin-inline-end:12px
}
.social-icons a svg {
 height:31px;
 width:31px;
}
strong{
  color: var(--headings-color);
}
#main article{
  background: var(--article-bg);
}
/* vertical bar */
#header ::before {
background-color: var(--border-color);
color: var(--border-color);
}
/* horiz bar */
#header .content {
border-color: var(--border-color);
}
/* circle */
#header .logo {
border: solid 1px var(--border-logo);
}
/* menu */
#header nav ul {
border: solid 1px var(--border-menus);
}

/* h2.major {
font-size: 1.75em;
} */

/* SPACING FIXES */
p {
  letter-spacing: 0.05rem;
}

li {
  letter-spacing: 0.1rem;
}

blockquote p:last-of-type {
  margin-bottom: 0.5rem;
}

/* spacing of page list */
#header nav ul li{
  display: flex;
  /* border-right: 1px solid var(--border-menus); */
}
/* @media (min-width:1185px) {
  #header nav ul li:nth-child(2){
    border-right: 1px solid var(--border-menus);
  }
  
} */
#header nav ul li a.even-width{
  width: 280px;
}
#header nav ul li a {
margin: auto;
line-height: 1.3;
padding: 1.25rem;
}
/* spacing, just deleted `height` and copied the rest. */
/* correct spacing in mobile */
@media screen and (max-width: 480px) {
  #header nav ul li a {
	display: block;
	min-width: 7.5rem;
	line-height: 2.75rem;
	padding: 0 1.25rem 0 1.45rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 0.8rem;
	border-bottom: 0;
}
}
/* even menu-links width works up until 1000px (and lower) where it overflows offscreen; */
/* @media screen and (max-width: 1185px) {
  #header nav ul li a {
    width: unset;
  }
  #header nav ul  {
   flex-direction: column;
  }
} */

/* button */
a.markdown-btn {
  font-size: inherit;
  font-family: inherit;
  color: #fff;
  /*background-color: var(--md-bg-color-dark);*/
  background-color: var(--border-color);
  border-radius: $border-radius;
  text-align: center;
  padding: .5rem 1rem .5rem 1rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 100%;
  display: block;
  margin: 1rem;
  text-transform: uppercase;

  &:hover,
  &:active {
    text-decoration: none;
    background-color: #000;
    color: var(--border-color);
  }
}

/* markdown-embedded image block */
p img {
  width: 100%;
  text-align: center;
  margin: 1rem auto 1rem auto;
  display: block;
}

/*************************************************
 *  Sharing
 **************************************************/

.share-box {
  text-align: center;
}

ul.share {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

ul.share li {
  display: inline-flex;
  margin-right: 5px;
}

ul.share li:last-of-type {
  margin-right: 0;
}

ul.share li i {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  transition: all 150ms ease-in-out;
  color: #fff;
}

.dark ul.share li i {
  color: rgb(68, 71, 90);
}

ul.share li a {
  background-color: #b5c6ce;
  display: block;
  border-radius: 50%;
  text-decoration: none !important;
  margin: 0;
}

ul.share li:hover i {
  transform: scale(1.4)
}

/* poker */
.poker-label {
  margin: 0.5rem 0 0 0.25rem;
}

input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #e83e8c;
		border-radius: 4px;
		border: 0;
		box-shadow: inset 0 0 0 1px #ffffff;
		color: #ffffff !important;
		cursor: pointer;
		display: block;
		font-size: 0.8rem;
		font-weight: 300;
		height: 3rem;
		letter-spacing: 0.2rem;
		line-height: 2.9rem;
		outline: 0;
		padding: 0;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 1rem;
		margin-left: auto;
		margin-right: auto;
	}

/* stochastic override */
.printout{
  justify-content: space-around;
  display: flex;
  margin-bottom: 2rem;
}
.plot-container{
  display: flex;
  flex-direction: column;
}
.plot-canvas{
  filter: invert();
  margin: auto;
}
.poker-label{
  margin-bottom: 1rem;
}

#mytext, #mytext2, #mytext3{
  height: 60px !important;
  font-size: large !important;
}
