{{ partial "header.html" . }}

<body class="is-preload">

    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
                <header id="header">
                    <div class="logo">
                        {{ if .IsHome }}
                            <a href={{ .Site.Home.RelPermalink }}>
                        {{ else }}
                            <a href="../">
                        {{ end }}
                            <span class="icon">
                                <img src="{{ .Site.Params.logo | relURL }}">
                            </span>
                        </a>
                    </div>
                    <div class="content">
                        <div id="particles-js" class="inner">
                            <h1>{{ .Title | default "Title" }}</h1>
                            {{ if .Params.description }}
                            <p>
                                {{ .Params.description }}
                            </p>
                            {{ end }}
                        </div>
                    </div>

                    <nav>
                        <ul class="nav-links{{ if .Params.horizontalNav }} nav-links--horizontal{{ end }}">
                            {{ range .Pages.ByWeight }}
                                {{if .Title }}
                                    {{if .Content}}
                                        <li>
                                            <a
                                                class="nav-links__link"
                                                href="#{{ cond (in (.Title|urlize) "%") (.Title | base64Encode) (.Title) | urlize }}"
                                            >{{ .Title }}</a>
                                        </li>
                                    {{ else }}
                                        <li>
                                            <a class="nav-links__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
                                        </li>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </ul>
                    </nav>
                </header>
            <!-- Main -->
                <div id="main">

                    {{ range .Pages }}
                        {{if .Title }}
                            {{if .Content }}
                                <article id="{{ cond (in (.Title|urlize) "%") (.Title | base64Encode) (.Title) | urlize }}">
                                    <!-- <h1 class="major">{{ .Title }}</h1> -->
                                    {{ if .Params.image }}
                                    <span class="image main"><img src="{{ .Params.image }}" alt="" /></span>
                                    {{ end }}
                                    {{if and .Params.timestamp .Params.date }}
                                        <h4 class="minor">{{ .Params.date | time.Format "January 2006" }}</h4>
                                    {{ end }}
                                    {{ .Content }}
                                    {{if .Params.social }}
                                    {{ partial "social.html" . }}
                                    {{ end }}
                                    {{ partial "share.html" . }}
                                </article>
                            {{ end }}
                        {{ end }}
                    {{ end }}

                </div>

                {{ partial "design.html" .}}

        </div>

    <!-- BG -->
    <div id="bg"></div>

</body>

{{ partial "footer.html" .}}
