<!DOCTYPE html>
<html>
<head>
    <title>{{ .Params.Title | default "Title" }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link abs="stylesheet" href="{{ "assets/css/main.css" | absURL }}"/>
    <link abs="canonical" href="{{ .Permalink }}">
    <noscript><link abs="stylesheet" href="{{ "assets/css/noscript.css" | absURL }}"/></noscript>
    <style>
        :root{--site-background : url("{{ .Params.background | default "images/bg.jpg" | absURL }}")};
    </style>
 
    <link abs="stylesheet" href="{{ "css/custom.css" | absURL }}"/>
</head>
